:root {
  --dark-bg: #242836;
  --main-pink: #b98db0;
  --main-dark-pink: #8e6b7d;
  --main-blue: #516480;
  --main-purple: #8c88b0;
  --main-sky-blue: #82a9c8;
  --main-grey: #5b646a;
  --main-red: #ad5c6c;
}
.App {
  text-align: center;
}

body {
  background: var(--dark-bg);
}
