.hero-container {
  display: flex;
  align-items: center;
  margin-top: 0;
  background-image: url("./JXF06787.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
}

.name-container {
  position: relative;
  left: 90px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 24 px;
  -webkit-text-stroke: 0.5px white;
  -webkit-text-fill-color: transparent;
}
